@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: rgb(107, 107, 107);
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
